<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            background-color: aqua;
        }
        p.dotted {border-style:dotted;}
        p.dashed {border-style:dashed;}
        p.solid {border-style:solid;}
        p.doble {border-style:double}
        p.groove {border-style:groove;}
        p.ridge {border-style:ridge;}
    </style>
</head>
<body>
    <p class="dotted">A dotted border</p>
    <p class="dashed">A dotted border</p>
    <p class="solid">A dotted border</p>c
    <p class="double">A dotted border</p>c
    <p class="dotted">A dotted border</p>c
    <p class="dotted">A dotted border</p>c
</body>
</html>