<%- include('partials/header');%> 
<div class="h-[130px]"></div>
<div class="flex flex-col items-center">
    <p class="text-5xl font-extrabold">Our Story</p>
    <div class="flex flex-col sm:flex-row pt-16 pl-4 pr-4">
        <img src="/assets (1)/assests70.png" alt="" class="h-[200px] w-[300px] sm:h-[400px] sm:w-[600px] rounded-xl">
        <div class="sm:pl-[150px] flex flex-col">
            <p class="text-xl font-extrabold pt-8">OUR PRESERVES ARE SIMPLE AND MADE WITH LOVE</p>
            <p class="pt-8">At Big Bear Farms we grow and harvest fruit as our family has</p>
            <p class="pt-2">done for over three generations. We also source fruit from local</p>
            <p class="pt-2">farmers and all our team members live and work in our community.</p>
            <p class="pt-2">From strawberries, cherries, peaches, plums, and apples to lesser</p>
            <p class="pt-2">known varieties such as quince and nectarine – our home in</p>
            <p class="pt-2">Himachal sees a variety of produce over the year. Each season we</p>
            <p class="pt-2">pick the best fruit to make jams, jellies, </p>
            <p class="pt-2">and pickles that are the highlight of every meal at our kitchen table.</p>
        </div>
    </div>
    <div class="flex flex-col sm:flex-row pt-[100px] pl-4 pr-4">
        <img src="/assets (1)/assets71.png" alt="" class="block sm:hidden h-[200px] w-[300px] sm:h-[400px] sm:w-[600px] rounded-xl">
        <div class="flex flex-col items-center sm:pr-[130px] pt-16">
            <p class="text-xl font-extrabold pt-8">OUR FAMILY RECIPES REMAIN UNCHANGED</p>
            <p class="pt-8">We pick and preserve our fruit within twenty-four hours to ensure</p>
            <p class="pt-2">freshness. Under the close guidance of our team, our preserves are</p>
            <p class="pt-2">hand made and slow cooked in small batches. We use only natural</p>
            <p class="pt-2">ingredients without any artificial preservatives. Each jar is carefully</p>
            <p class="pt-2">filled and bottled by hand to be enjoyed through the year.</p>
        </div>
        <img src="/assets (1)/assets71.png" alt="" class="hidden sm:block h-[200px] w-[300px] sm:h-[400px] sm:w-[600px] rounded-xl">
    </div>
    <div class="flex flex-col sm:flex-row pt-16 pb-16 pl-4 pr-4">
        <img src="/assets (1)/assets72.png" alt="" class="h-[200px] w-[300px] sm:h-[400px] sm:w-[600px] rounded-xl">
        <div class="sm:pl-[150px] flex flex-col">
            <p class="text-xl font-extrabold pt-8">OUR PRESERVES ARE SIMPLE AND MADE WITH LOVE</p>
            <p class="pt-8">At Big Bear Farms we grow and harvest fruit as our family has</p>
            <p class="pt-2">done for over three generations. We also source fruit from local</p>
            <p class="pt-2">farmers and all our team members live and work in our community.</p>
            <p class="pt-2">From strawberries, cherries, peaches, plums, and apples to lesser</p>
            <p class="pt-2">known varieties such as quince and nectarine – our home in</p>
            <p class="pt-2">Himachal sees a variety of produce over the year. Each season we</p>
            <p class="pt-2">pick the best fruit to make jams, jellies, </p>
            <p class="pt-2">and pickles that are the highlight of every meal at our kitchen table.</p>
        </div>
    </div>
</div>
<%- include('partials/footer');%>



