<%- include('partials/header');%>
<div class="pt-[150px] flex flex-col sm:pl-[-400px] items-center">
    <p class="text-7xl font-extrabold">Contact</p>
    <p class="pt-8 font-semibold text-gray-700">Interested in carrying us in your retail shop?</p>
    <p class="pt-4 font-semibold text-gray-700">Shoot us an email to orders@bigbearfarms.in if you want to chat wholesale.</p>
    <div class="flex flex-col sm:flex-row gap-8 pt-16">
        <div class="mt-5">
            <input
            style="padding-left: 10px; padding-top: 10px;"  
            type="text"
              placeholder="Name"
              class="px-[100px] py-2 border rounded-lg shadow-sm border-gray-800"
            />
        </div>
        <div class="mt-5">
            <input
            style="padding-left: 10px; padding-top: 10px;"  
            type="text"
              placeholder="Email*"
              class="px-[120px] py-2 border rounded-lg shadow-sm border-gray-800"
            />
        </div>
    </div>
    <div class="mt-5">
      <input
      style="padding-left: 10px; padding-top: 10px;"  
      type="text"
        placeholder="Phone Number"
        class="px-[100px] md:px-[450px] py-2 border rounded-lg shadow-sm border-gray-800"
      />
  </div>
  <div class="mt-5">
    <input
      style="padding-left: 10px; padding-top: 10px;"
      type="text"
      placeholder="Comments"
      class="px-[100px] md:px-[450px] py-[50px] border rounded-lg shadow-sm border-gray-800"/>
  </div>
  <div class="pt-8 pb-8">
    <button type="submit" class="button px-8 py-2 border bg-[#72173f] text-white rounded-xl shadow-lg duration-300 hover:border-2">Send</button>
  </div>
</div>

<%- include('partials/footer');%>