<%- include('first');%>
<footer>
    <div class="bg-[#fdf4f6] pt-12 pl-[100px] flex sm:flex-row flex-col gap-12">
        <div>
            <img src="assets (1)/asset 0.png" alt="" class="w-[200px]">
        </div>
        <div class="flex flex-col sm:pl-[150px]">
            <span class="font-extrabold text-2xl">Quick links</span>
            <a class="font-bold text-gray-700 pt-4 hover:underline" href="/search">Search</a>
            <span class="font-bold text-gray-700 pt-2 hover:underline">Privacy Policy</span>
            <span class="font-bold text-gray-700 pt-2 hover:underline">Shipping Policy</span>
            <a class="font-bold text-gray-700 pt-2 hover:underline" href="/refund">Refund Policy</a>


            <span class="font-bold text-gray-700 pt-2 hover:underline">Terms of Services</span>
        </div>
        <div class="flex flex-col sm:pl-[150px]">
            <span class="font-extrabold text-2xl">Keep in touch</span>
            <span class="font-bold text-gray-700 pt-2 hover:underline"><a href="mailto:orders@bigbearfarms.in">orders@bigbearfarms.in</a></span>
            <span class="font-bold text-gray-700 pt-2 hover:underline"><a href="tel:+91-9805177770">+91-9805177770</a></span>
        </div>
        <div class="flex flex-col sm:pl-[150px]">
            <span class="font-extrabold text-lg">FARM FRESH PRESERVES,</span>
            <span class="font-extrabold text-lg">HOMEMADE IN HIMACHAL</span>
            <span class="text-xl text-gray-700 pt-4">#SPREADTHELOVE</span>
            <span class="font-extrabold text-lg pt-4">Subscribe to our emails</span>
            <input type="email" name="email" id="" class="rounded-lg" placeholder="email                                    ➡️">
        </div>

    </div>
    <div class="bg-[#fdf4f6]">
        <div class="flex flex-row justify-center pt-12 gap-4 pb-12">
            <a href="https://www.facebook.com/BigBearFarm82/"><img src="assets (1)/asset 50.svg" alt="" class=" w-[25px]"></a>
            <a href="https://www.instagram.com/bigbearfarms/"><img src="assets (1)/asset 51.svg" alt="" class=" w-[25px]"></a>
        </div>
        <div class="w-full h-[0.1px] bg-gray-300 my-1"></div>
        <p class="pt-8 pl-12 pb-12 text-sm text-gray-400">Copyright © 2024, Big Bear Farms</p>
    </div>
    <div class="overflow-hidden w-full h-[300px] relative">
        <img src="assets (1)/asset 35.png" alt="Sample Image" class="absolute left-0 top-0 w-full h-full object-cover">
    </div>
</footer>
 
</body>

<script src="/js/index.js"></script>
<script
  src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous">
</script>

    
