<%- include('partials/header');%>
<div class="h-[150px]"></div>
<div>
    <div class="flex flex-col sm:flex-row sm:pl-[180px] items-center sm:gap-[100px] m-4">
        <img src="<%=Item.src%>"" >
        <div class="flex flex-col">
            <p class="text-gray-500 text-sm">Big Bearm Farm</p>
            <p class="text-3xl font-bold"><%=Item.name%></p>
            <p class="pt-2">⭐⭐⭐⭐ 45 reviews</p>
            <div class="flex flex-row pt-4">
                <span class="text-lg pr-8">Rs.375.00</span>
                <button class="bg-gray-900 hover:bg-red-700 text-white font-bold py-1 px-2 rounded-2xl">
                    <span class="">Sold-out</span>
                </button>
                  
            </div>
            <p class="text-sm text-gray-500">Tax included.Shipping calculated at checkout</p>
            <p class="font-semibold pt-8 text-lg text-gray-700">Farm fresh tangy tomatoes combined with the crisp, sharp</p>
            <p class="font-semibold pt-1 text-lg text-gray-700">flavour of mustard - in true Himachali style!</p>
            <p class="pt-8">Quantity</p>
            
                <div class="flex items-center space-x-2 pt-4 pb-4">
                    <!-- Decrement button -->
                    <button 
                        onclick="decrement()" 
                        class="bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded hover:bg-gray-400"
                    >
                        -
                    </button>
                    
                    <!-- Quantity input -->
                    <input 
                        id="quantity" 
                        type="number" 
                        value="1" 
                        min="1" 
                        class="w-16 text-center border border-gray-300 rounded"
                    >
                    
                    <!-- Increment button -->
                    <button 
                        onclick="increment()" 
                        class="bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded hover:bg-gray-400"
                    >
                        +
                    </button>
                </div>

            
            <script>
                function increment() {
                    const quantityInput = document.getElementById("quantity");
                    let quantity = parseInt(quantityInput.value);
                    quantityInput.value = quantity + 1;
                }
            
                function decrement() {
                    const quantityInput = document.getElementById("quantity");
                    let quantity = parseInt(quantityInput.value);
                    if (quantity > 1) {
                        quantityInput.value = quantity - 1;
                    }
                }
            </script>
            <button class="button bg-transparent font-semibold py-2 border-2 border-gray-500 rounded-xl hover:border-4">Buy Now</button>
            
        </div>
    </div>
</div>
<%- include('partials/footer');%>