<%- include('partials/header'); %>
<div class="sm:h-[200px] h-[90px]"></div>
<div class="m-8 sm:pl-[100px]">
    <div class="flex flex-col">
        <p class="text-5xl font-extrabold">Acount</p>
        <a href="/logout"><p class="pt-4">Log out<i class="fa-solid fa-user text-dark pl-4"></a></i></p>
    </div>
    <div class="flex sm:flex-row flex-col pt-16 justify-between w-full">
        <!-- Left side -->
        <div class="flex flex-col sm:w-1/2">
            <span class="text-3xl font-bold">Order History</span>
            <span class="text-lg pt-2">You haven't placed an ordered yet</span>
        </div>
        
        <!-- Right side -->
        <div class="flex flex-col sm:w-1/2 sm:pt-0 pt-12 sm:pl-[300px]">
            <span class="text-3xl font-bold">Account Details</span>
            <span class="text-xl pt-2">Shivam Singh Chauhan</span>
            <span>India</span>
        </div>
    </div>
    
</div>

<%- include('partials/footer'); %>