<%- include('header');%>
<div class="h-[150px]"></div>
<div class="flex flex-col items-center pb-[100px] ">
    <p class="pb-[80px] text-6xl font-bold">Refund Policy</p>
    <div>
        <p class="text-5xl font-bold">Return and refund policy</p>
        <p class="pt-16 text-lg text-gray-900">Last updated: 4th Oct, 2023</p>
        <p class="pt-4">Thank you for shopping at Alternate Foods dba Big Bear Farms.</p>
        <p class="pt-4">If, for any reason, You are not completely satisfied with a purchase We invite</p>
        <p class="">You to review our policy on refunds and returns.</p>
        <p class="pt-4">The following terms are applicable for any products that You purchased with Us.</p>
        <p class="text-5xl font-bold pt-[60px]">Order Cancellations</p>
        <p class="pt-16 text-lg text-gray-900">You are entitled to cancel Your Order within 2 hours without giving any reason</p>
        <p class="pt-2">for doing so.</p>
        <p class="pt-6">The deadline for cancelling an Order is 2 hours from the time on which You</p>
        <p class="pt-2">place  the order for Goods or on which a third party you have appointed, who</p>
        <p class="pt-2">is not the carrier.</p>
        <p class="pt-4">In order to exercise Your right of cancellation, You must inform the us of your</p>
        <p class="pt-2">decision by means of a clear statement along with your order ID. You can</p>
        <p class="pt-2">inform us of your decision by:</p>
        <!-- HTML Structure -->
        <ul class="list-inside list-disc text-gray-700 custom-circle pt-4">
            <li>Phone number: +91-9805177770</li>
            <li>Email: orders@bigbearfarms.in</li>
            
        </ul>
        <p class="pt-4">Orders once dispatched will not be cancellable.</p>

        <p class="text-5xl font-bold pt-16">No Returns or Exchange Policy</p>

        <p class="pt-8">Due to the perishable nature of our products, we do not accept returns. In the</p>
        <p class="pt-2">event your shipment arrives damaged, you must contact us within 72 hrs from</p>
        <p class="pt-2">receiving your order. We reserve the right to limit refunds and replacements.</p>
        <p class="pt-8">If you receive damaged goods, You may contact us for a replacement order</p>
        <p class="pt-2">after sending images/video of the damaged goods via email or phone. Please</p>
        <p class="pt-2">mention your order ID. We reserve the right to replace the goods based on the</p>
        <p class="pt-2">the above return conditions in our sole discretion.</p>
        <p class="pt-8">We reserve the right to refuse returns of any merchandise that does not meet</p>
        <p class="pt-2">the above return conditions in our sole discretion.</p>

        <p class="text-5xl font-bold pt-16">Contact Us</p>
        <p class="pt-8">If you have any questions about our Returns and Refunds Policy, please contact us:</p>
        <p class="pt-4">By phone number: +91-9805177770</p>
        <p class="pt-4">By Email: orders@bigbearfarms.in</p>
        <p class="pt-4">By Post: Alternate Foods, Johnsons Orchards, PO Raison, Dist Kullu, HP, India. 175128</p>

    </div>
</div>
<%- include('footer');%>